* {
  font-family: Helvetica;
}

body {
  background-color: green;
}

ul {
  text-decoration: none;
  list-style-type: none;
  border: 0px solid red;
  padding: 0px;
  margin: 50px;
  max-width: 500px;
  height: 50px;
}

li {
  display: inline-block;
  text-decoration: none;
  border: 0px solid red;
  height: 25px;
  max-width: 120px;
  text-align: center;
  font-size: 27px;
  border-right: 0px solid purple;
  margin: 0;
  padding: 0;
}

.menubar1 {
  background-color: #ff4d4d;
  color: white;
}

.menubar2 {
  background-color: white;
  color:grey;
}
