.container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: #dedede;

  display: flex;
  justify-content: space-between;

}


.box {
  width: 100px;
  height: 100px;
  /*margin: auto;*/
  border: 1px solid red;

}
